{% extends 'base.html' %}
{% block content %}

<div class="center-block"><h3><i>Learndo is an assignment tracking and notification system for teachers to use with their students.</i></h3></div>

<h3>Features include:</h3>
	<ul>
		<li>Create accounts for you students and organize them into classes.</li>
		<li>Make new assignments to easily share links to on-line resources.</li>
		<li>Get notifications when students have completed assignments.</li>
		<li>Students can message you with questions about the assignment.</li>
		<li>You can send students their grades and specific feedback about assignments.</li>
		<li>View your entire class's progress on an assignment, including ones that are overdue.</li>
	</ul>

<div class="center-block"><h3>Don't lose any more class time because your students are waiting for direction or have nothing to do. <br>Keep their learning momentum going strong with Learndo!</h3></div>
<a href="/register"><h2>Register as a Teacher</h2></a>

{% endblock %}