{% extends 'base.html' %}
{% block content %}

<h2>New Assignment</h2>

<form action="/create_assignment" method="POST">
    <div>
        <label>
            Title: 
            <input type="text" name="title" size="42" placeholder="short description" required>
        </label><br><br>
    </div>

    <div>
        <label>
            Learning goal: <br>
            <textarea name="goal" rows="3" cols="45" placeholder="What will students learn from this assignment?" maxlength="712" required></textarea>
        </label><br><br>
    </div>

    <div>
        <label>
            Directions: <br>
            <textarea name="directions" rows="5" cols="45" maxlength="712" required></textarea>
        </label><br><br>
    </div>

    <div>
        <label>
            Link to on-line resource:<br>
            <input type="url" name="link" maxlength="256" size="48" placeholder="http://www.edudeveloper.net">
        </label><br><br>
    </div>

    <div>
        <label>
            Due date: 
              <select id="month" name="month" required> 
                <option value="01">Jan.</option>       
                <option value="02">Feb.</option>       
                <option value="03">March</option>       
                <option value="04">April</option>       
                <option value="05">May</option>       
                <option value="06">June</option>       
                <option value="07">July</option>       
                <option value="08">Aug.</option>       
                <option value="09">Sept.</option>       
                <option value="10">Oct.</option>       
                <option value="11">Nov.</option>       
                <option value="12">Dec.</option>       
              </select> 
              <select id="day" name="day" required> 
                <option value="01">1</option>       
                <option value="02">2</option>       
                <option value="03">3</option>       
                <option value="04">4</option>       
                <option value="05">5</option>       
                <option value="06">6</option>       
                <option value="07">7</option>       
                <option value="08">8</option>       
                <option value="09">9</option>       
                <option value="10">10</option>       
                <option value="11">11</option>       
                <option value="12">12</option>       
                <option value="13">13</option>       
                <option value="14">14</option>       
                <option value="15">15</option>       
                <option value="16">16</option>       
                <option value="17">17</option>       
                <option value="18">18</option>       
                <option value="19">19</option>       
                <option value="20">20</option>       
                <option value="21">21</option>       
                <option value="22">22</option>       
                <option value="23">23</option>       
                <option value="24">24</option>       
                <option value="25">25</option>       
                <option value="26">26</option>       
                <option value="27">27</option>       
                <option value="28">28</option>       
                <option value="29">29</option>       
                <option value="30">30</option>       
                <option value="31">31</option>       
              </select> 
              <select id="year" 
                     name="year">       
                <option value="15">2015</option>       
                <option value="16">2016</option>       
                <option value="17">2017</option>
                <option value="18">2018</option>              
              </select> 
            </label><br>
            <label>
              Time due: 
              <select id="hour" name="hour" required> 
                <option value="01">1</option>       
                <option value="02">2</option>       
                <option value="03">3</option>       
                <option value="04">4</option>       
                <option value="05">5</option>       
                <option value="06">6</option>       
                <option value="07">7</option>       
                <option value="08">8</option>       
                <option value="09">9</option>       
                <option value="10">10</option>       
                <option value="11">11</option>       
                <option value="12">12</option>       
              </select> 
              <select id="minute" name="minute" required> 
                <option value="00">00</option>       
                <option value="05">05</option>       
                <option value="10">10</option>       
                <option value="15">15</option>       
                <option value="20">20</option>       
                <option value="25">25</option>       
                <option value="30">30</option>       
                <option value="35">35</option>       
                <option value="40">40</option>       
                <option value="45">45</option>       
                <option value="50">50</option>       
                <option value="55">55</option>       
              </select> 
              <select id="ampm" name="ampm" required> 
                <option value="AM">am</option>       
                <option value="PM">pm</option>           
              </select> 
        </label><br><br>
    </div>

    <div>
        <label>
            Total points:
            <input type="number" name="points">
        </label><br><br>
    </div>

    <div>
        <input type="hidden" name="teacher_id" value="{{ user.user_id }}">
        <input type="submit" value="Save Assignment">
    </div>
</form>



{% endblock %}