{% extends 'base.html' %}
{% block content %}
<div class="center-col text-center">
<h3><b>{{ user.display_name }}</b></h3>
<h4><i>{{ acct_type }} at {{ user.school }}</i></h4>

<h3>Edit account information</h3>
<form action="/edit_profile" method="POST">
    <div class="form-group">
        <label>
            First name: 
            <input type="text" class="form-control" name="first" value="{{ user.first_name }}" size="30" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Last name: 
            <input type="text" class="form-control" name="last" value="{{ user.last_name }}" size="30" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Preferred name: 
            <input type="text" class="form-control" name="preferred" size="30" value="{{ user.display_name }}" >
        </label>
    </div>

    <div class="form-group">
        <label>
            Email:
            <input type="text" class="form-control" name="email" size="30" value="{{ user.email }}">
        </label>
    </div>

    <div class="form-group">
        <label>
            Username: 
            <input type="text" class="form-control" name="username" size="30" value="{{ user.username}}" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            Password:
            <input type="password" class="form-control" name="password" size="30" value="{{ user.password }}" required>
        </label>
    </div>

    <div class="form-group">
        <label>
            School: 
            <input type="text" class="form-control" name="school" size="30" value="{{ user.school }}" required>
        </label>
    </div>

    <div>
        <input type="hidden" name="user_id" value="{{ user.user_id }}">
        <input type="submit" class="btn btn-info" value="Save Changes">
    </div>
</form>
</div>
<br><br>

{% endblock %}