{% extends 'base.html' %}
{% block content %}

<div id="buttons">
	<span id="sorting">
	    <button id="newest">Newest</button>
	    <button id="duedate">Due Date</button>
    </span>
    <span id="filtering" class="pull-right">
    	<button id="viewed">In Progress</button>
    	<button id="overdue">Overdue</button>
        <button id="completed">Completed</button>
	    <button id="show-all">All</button>
	</span>
</div>

<div class="heading"><h2>My assignments</h2></div>

<div class="assignments"></div>


{% endblock %}

{% block js%}
<script type="text/javascript">
	var sid = "{{ sid }}";

    $(document).ready(function() {
        $.get("http://localhost:5000/list.json", setCurrentData);
    });

    // Generate list of assignments ordered by newest
    // Instead, make an array of objects and use .sort
    // Run for filter as well
	function generateList(data) {
		// order data from oldest to newest 
		// var orderedAssignments = {};
		// currentDataKeys.forEach(function(key) {
		// 	orderedAssignments[key] = data[key];
		// });

		console.log(data.list);

		// 
		for (assignment in data.list) {
			assignment = data.list[assignment];

			$(".assignments").prepend(

				"<div id='"+assignment.id+"' class="+assignment.status+">\
					<h3><a href='/student/"+sid+"/assignments/"+assignment.id+"'>"+assignment.title+"</a></h3>\
					<p><b>Due date: "+assignment.due_date+"</b></p>\
					<p>"+assignment.goal+"</p>\
					<p><i>Assigned by "+assignment.assigned_by+" on "+assignment.assigned_on+"</i></p><br>\
				</div>"

				);
		}
	}

	// Get and store current data

	var currentData;
	var currentDataKeys;

	function setCurrentData(data) {
		currentData = data;
		currentDataKeys = Object.keys(currentData).sort();
		generateList(currentData);
	}

</script>
{% endblock %}