{% extends 'base.html' %}
{% block content %}

<h2>{{ task.title }}</h2> 

<div class="assignment">

	<div class="checkbox alert alert-success">
		<form action="/completed" method="POST" class="form">
			<div>
			<label>
			<input type="checkbox" name="completed" class="complete">
			I have finished this assignment!
			</label>
			</div>
			<input type="hidden" name="assign_id" value="{{ assignment.assign_id }}">
		</form>
	</div>
	
	<h4><b>Due date: {{ due_date }}</b></h4>
	<h4><i>Assigned on {{ assigned_on }}</i></h4><br>
	<div class="details">
		<h3>Learning goal:</h3>
		<p>{{ task.goal }}</p>

		<h3>Directions</h3>
		<p>{{ task.directions }}</p>

		<h3>Link to resource:</h3>
		<a href="{{ task.link }}" target="_blank">{{ task.link }}</a>
		<br><br>
	</div>
</div>
{% endblock %}

{% block js %}
<script>
    var completed = "{{ assignment.completed }}"
    if (completed == "None") {
    	completed = null;
    }

    if (completed) {
    	$('.complete').prop('checked', true)
    } else {
    	$('.complete').prop('checked', false)
    }

    $('.complete').on('change',function(){
       $('.form').submit();
       });
</script>
{% endblock %}
