{% extends 'base.html' %}
{% block content %}

<div id="buttons">
	<span id="sorting">
	    <button id="newest">Newest</button>
	    <button id="duedate">Due Date</button>
    </span>
    <span id="filtering" class="pull-right">
    	<button id="viewed">In Progress</button>
    	<button id="overdue">Overdue</button>
        <button id="completed">Completed</button>
	    <button id="show-all">All</button>
	</span>
</div>

<div class="heading"><h2>My assignments</h2></div>

<div class="assignments"></div>


{% endblock %}

{% block js%}
<script type="text/javascript">
	var sid = "{{ sid }}";

    $(document).ready(function() {
        $.get("http://localhost:5000/newest.json", setCurrentData);
    });

    // Generate list of assignments ordered by newest

	function generateList(data) {
		// order data from oldest to newest 
		var orderedAssignments = {};
		currentDataKeys.forEach(function(key) {
			orderedAssignments[key] = data[key];
		});

		console.log(orderedAssignments);

		for (assignment in orderedAssignments) {
			aid = orderedAssignments[assignment]['id'];
			title = orderedAssignments[assignment]['title'];
			goal = orderedAssignments[assignment]['goal'];
			dueDate = orderedAssignments[assignment]['due_date'];
			assignedBy = orderedAssignments[assignment]['assigned_by'];
			assignedOn = orderedAssignments[assignment]['assigned_on'];
			status = orderedAssignments[assignment]['status'];

			$(".assignments").prepend(

				"<div id='"+aid+"' class="+status+">\
					<h3><a href='/student/"+sid+"/assignments/"+aid+"'>"+title+"</a></h3>\
					<p><b>Due date: "+dueDate+"</b></p>\
					<p>"+goal+"</p>\
					<p><i>Assigned by "+assignedBy+" on "+assignedOn+"</i></p><br>\
				</div>"

				);
		}
	}

	// Get and store current data

	var currentData;
	var currentDataKeys;

	function setCurrentData(data) {
		currentData = data;
		currentDataKeys = Object.keys(currentData).sort();
		generateList(currentData);
	}

</script>
{% endblock %}