{% extends 'base.html' %}
{% block content %}

<h2>Welcome {{ teacher.display_name }}!</h2></a>

<ul>
	<li><a href='/profile/{{ teacher.user_id }}'>View your account information</a></li>
	<li><a href='/new_task'>Create a new assignment</a></li>
	<li><a href='/teacher/{{ teacher.user_id }}/assignments'>View all your assignments</a></li>
	<li><a href='/teacher/{{ teacher.user_id }}/messages'>View your messages</a></li>
	<li><a href='/teacher/{{ teacher.user_id }}/classes'>Manage your classes</a></li>
</ul>

{% endblock %}