{% extends 'base.html' %}
{% block content %}

<h2>{{ task.title }}</h2>
<div class="assign">
	<p>This has not yet been assign. Select a class to assign.</p>
	    <div class="assign_status">
	        <form action="/assign" method="POST">
			    <select name="class-id">
			      {% for class_id in class_list.keys() %}
			      <option value="{{ class_id }}">{{ class_list[class_id]['class_name'] }}</option>
			      {% endfor %}
			    </select>
			    <input type="hidden" name="task_id" value="{{ task.task_id }}">
			    <input type="submit" value="Assign">
			</form>
	    </div>
</div>

<div class="assignment">
	<h3>Learning goal:</h3>
	<p>{{ task.goal }}</p>

	<h3>Directions</h3>
	<p>{{ task.directions }}</p>

	<h3>Link to resource:</h3>
	<a href="{{ task.link }}" target="_blank">{{ task.link }}</a>

	<h3>Due date: {{ due_date }}</h3>
	<h3>Total points: {{ task.points }}</h3>
</div>

<div class="progress">
	<h2>Student Progress</h2>
	<p>This will be a table.</p>
</div>
{% endblock %}