{% extends 'base.html' %}
{% block content %}

<h2>{{ task.title }} &nbsp; <span class="pull-right"><button onclick="location.href='/teacher/{{ task.created_by }}/assignments/{{ task.task_id }}/edit'" class="btn">edit</button></span></h2> 
<h4>Assigned to <b>{{ class_name }}</b> on {{ assigned_on }}</h4>

<div class="student-progress">
<h3>Student Progress</h3>
  <div class="assign">
	  {% if class_name != None %}
	  	<table class="table table-condensed list-progress props xmpl" id="xtable">
	  		<thead>
	  			<tr><th>Student Name</th>
	  			<th>Status</th>
	  			<th>Recent Activity</th>
	  			</tr>
	  		</thead>
	  		<tbody>

	  		{% for s in progress %}
	  			<tr id="{{ s }}"><td class="name">{{ progress[s]['first'] }} {{ progress[s]['last'] }}</td>
	  			{% if progress[s]['completed'] %}
	  				<td class="completed">Done</td>
	  				<td class="timestamp">Completed: {{ progress[s]['completed'] }}</td>
	  				</tr>
	  			{% elif progress[s]['overdue'] %}
	  				<td class="overdue">Overdue</td>
	  				{% if progress[s]['viewed'] %}
	  					<td class="timestamp">Last Viewed: {{ progress[s]['viewed'] }}</td>
	  				{% else %}
	  					<td class="timestamp">Not yet viewed</td>
	  					</tr>
	  				{% endif %}
	  			{% elif progress[s]['viewed'] %}
	  				<td class="viewed">In progress</td>
	  				<td class="timestamp">Last Viewed: {{ progress[s]['viewed'] }}</td>
	  				</tr>
	  			{% else %}
	  				<td class="inactive">Not viewed</td>
	  				<td class="timestamp">Assigned on: {{ progress[s]['assigned'] }}</td>
	  				</tr>
	  			{% endif%}
	  		{% endfor %}

	  		</tbody>
	  	</table>	

	  {% else %}
		<p>This has not yet been assign. Select a class to assign.</p>
		    <div class="assign_status">
		        <form action="/assign" method="POST">
				    <select name="class-id">
				      {% for class_id in class_list.keys() %}
				      <option value="{{ class_id }}">{{ class_list[class_id]['class_name'] }}</option>
				      {% endfor %}
				    </select>
				    <input type="hidden" name="task_id" value="{{ task.task_id }}">
				    <input type="submit" value="Assign">
				</form>
		    </div>
	  {% endif %}
	</div>
</div>
<br>

<div class="assignment details">
	<h3>Learning goal:</h3>
	<p>{{ task.goal }}</p>

	<h3>Directions</h3>
	<p>{{ task.directions }}</p>

	<h3>Link to resource:</h3>
	<a href="{{ task.link }}" target="_blank">{{ task.link }}</a>

	<h3>Due date: {{ due_date }}</h3>
</div>
<br><br>

{% endblock %}

{% block js %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/tinysort/2.2.2/tinysort.min.js"></script>
<script>
var taskId = "{{ task.task_id }}";
var className = "{{ class_name }}";
</script>
<script src="/static/show-progress.js"></script>
{% endblock %}