{% extends 'base.html' %}
{% block content %}

<h2>{{ task.title }} &nbsp; <button onclick="location.href='/teacher/{{ task.created_by }}/assignments/{{ task.task_id }}/edit'">edit</button></h2> 

<div class="assignment">
	<h3>Learning goal:</h3>
	<p>{{ task.goal }}</p>

	<h3>Directions</h3>
	<p>{{ task.directions }}</p>

	<h3>Link to resource:</h3>
	<a href="{{ task.link }}" target="_blank">{{ task.link }}</a>

	<h3>Due date: {{ due_date }}</h3>
	<h3>Total points: {{ task.points }}</h3>
</div>

<div class="student-progress">
	<h2>Student Progress</h2>
	<div class="assign">
	  {% if class_name != None %}
	  	<h3>Assigned to <b>{{ class_name }}</b> on {{ assigned_on }}</h3>
	  	<table id="student-progress">
	  		<thead>
	  			<tr><td>Student Name</td>
	  			<td>Status</td>
	  			<td>Timestamp</td>
	  			</tr>
	  		</thead>
	  		<tbody>

	  		{% for s in progress %}
	  			<tr><td class="name">{{ progress[s]['first'] }} {{ progress[s]['last'] }}</td>
	  			{% if progress[s]['completed'] %}
	  				<td class="completed">Done</td>
	  				<td class="timestamp">Completed: {{ progress[s]['completed'] }}</td>
	  				</tr>
	  			{% elif progress[s]['overdue'] %}
	  				<td class="overdue">Overdue</td>
	  				{% if progress[s]['viewed'] %}
	  					<td class="timestamp">Last Viewed: {{ progress[s]['viewed'] }}</td>
	  				{% else %}
	  					<td class="timestamp">Not yet viewed</td>
	  					</tr>
	  				{% endif %}
	  			{% elif progress[s]['viewed'] %}
	  				<td class="viewed">In progress</td>
	  				<td class="timestamp">Last Viewed: {{ progress[s]['viewed'] }}</td>
	  				</tr>
	  			{% else %}
	  				<td class="inactive">Not viewed</td>
	  				<td class="timestamp">Assigned on: {{ progress[s]['assigned'] }}</td>
	  				</tr>
	  			{% endif%}
	  		{% endfor %}

	  		</tbody>
	  	</table>	

	  {% else %}
		<p>This has not yet been assign. Select a class to assign.</p>
		    <div class="assign_status">
		        <form action="/assign" method="POST">
				    <select name="class-id">
				      {% for class_id in class_list.keys() %}
				      <option value="{{ class_id }}">{{ class_list[class_id]['class_name'] }}</option>
				      {% endfor %}
				    </select>
				    <input type="hidden" name="task_id" value="{{ task.task_id }}">
				    <input type="submit" value="Assign">
				</form>
		    </div>
	  {% endif %}
	<br><br>
	</div>
	</div>
	{% endblock %}